@model List<ResultFooterDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Açıklama</th>
        <th>Email</th>
        <th>Website</th>
        <th>Telefon</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.ID</th>
            <td>@item.Text</td>
            <td>@item.Email</td>
            <td>@item.Website</td>
            <td>@item.Phone</td>
            <td><a href="/Footer/UpdateFooter/@item.ID" class="btn mb-1 btn-rounded btn-outline-success">Güncelle</a></td>
        </tr>
    }
</table>