@model PetsProject.WebUI.Dtos.UserDto.UserAddPetDto
@{
    ViewData["Title"] = "UserAddPet";
    Layout = "~/Views/MemberEmptyLayout/_MemberEmptyLayout.cshtml";
}
@using (Html.BeginForm("UserAddPet", "Profile", FormMethod.Post))
{
    <br />
    <br />
    <br />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(m => m.PetTypeID, "Pet Türü")
        @Html.DropDownListFor(m => m.PetTypeID, Model.PetTypes, "-- Pet Türü Seçin --", new { @class = "form-control", id = "typeComboBox" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.BreedID, "Pet Cinsi")
        @Html.DropDownListFor(m => m.BreedID, Model.Breeds, "-- Pet Cinsi Seçin --", new { @class = "form-control", id = "breedComboBox" })
    </div>



    <div class="form-group">
        @Html.LabelFor(m => m.Name, "Pet Adı")
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Gender, "Cinsiyet")
        @Html.RadioButtonFor(m => m.Gender, "Erkek", new { @checked = "checked" }) Erkek
        @Html.RadioButtonFor(m => m.Gender, "Dişi") Dişi
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.BirthDate, "Doğum Tarihi")
        @Html.TextBoxFor(m => m.BirthDate, new { @class = "form-control", @type = "date" })
    </div>

    

    <div class="form-group">
        <label for="PhotoUrl">Pet Fotoğrafı</label>
        <input type="file" name="PhotoUrl" id="PhotoUrl" class="form-control">
    </div>

    <button type="submit" class="btn btn-main">Kaydet</button>
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#petTypeDropdown').change(function () {
            var selectedPetType = $(this).val();
            $.ajax({
                url: '@Url.Action("GetBreedsByPetType", "Profile")',
                data: { PetTypeID: selectedPetType },
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    var breedComboBox = $('#breedComboBox');
                    breedComboBox.empty();

                    // JSON verisini doğrudan combobox içine ekliyoruz
                    $.each(data, function (Index, BreedName) {
                        var option = new Option(BreedName, BreedName);
                        breedComboBox.append(option);
                    });

                    // İlgili cinsleri seçenek olarak ekledikten sonra bir cins seçildiğinde
                    // formun submit işlemine izin veriyoruz
                    breedComboBox.prop('disabled', false);

                    // Cins seçildiğinde kaydet butonunu devre dışı bırakıyoruz
                    $('button[type="submit"]').prop('disabled', true);
                }
            });
        });

        // Cins seçildiğinde formun submit edilmesini sağlama
        $('#breedComboBox').change(function () {
            var selectedBreed = $(this).val();
            if (selectedBreed !== "") {
                $('button[type="submit"]').prop('disabled', false);
            }
        });
    });
</script>

